<div class="form-horizontal home">
	<fieldset>
	  <h2>Join Today</h2>
	  <div class="form-group">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <div class="user-reg-errors">
			  	<ul>
					  <% resource.errors.full_messages.each do |msg| %>
					    <li><%= msg %></li>
					  <% end %>
					</ul>
				</div>

			  <div class="form-group">
			  	<div class="col-sm-6 col-xs-6">
			  		<%= f.text_field :first_name, class: "form-control", placeholder: "First Name", required: true %>
			  	</div>

			  	<div class="col-sm-6 col-xs-6">
			  		<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<div class="col-lg-12">
			  		<%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<div class="col-lg-12">	
			  		<%= f.password_field :password, class: "form-control", placeholder: "Password", required: true  %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<div class="col-lg-12">	
			  		<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", required: true  %>
			  	</div>
			  </div>

			  <% if controller_name == "pages" && action_name == "list" %>
			  <%= f.hidden_field :owner, value: true %>
			  <% end %>

			  <div class="form-group terms">
			  	<div class="col-xs-1">	
			  		<%= f.check_box :accepted_terms, required: true %>
			  	</div>
			  	<div class="col-xs-10">
			  	  <%= f.label :accepted_terms, "I accept the #{link_to 'Terms', terms_path, target: '_blank'}".html_safe %>
			  	</div>
			  </div>

			  <%= f.submit "SIGN UP (FREE)", class: "btn btn-success center-block" %>

			<% end %>
		</div>
	</fieldset>
</div>