<% unless user_signed_in? && current_user.role == "admin" %>
<h3>Permission was denied.</h3>
<% else %>
<p><%= link_to 'Users', admin_users_path %> | <%= link_to 'Properties', admin_properties_path %> | <%= link_to 'Reservations', admin_reservations_path %></p>
<h1>Huntivore Properties</h1>

<p><strong>Total properties:</strong> <%= Property.count %></p>

<% @properties.each do |property| %>
<p><strong><%= link_to "#{property.title}", property %></strong> - <strong>Listed by:</strong> <%= link_to "#{property.user.full_name}", user_path(property.user_id) %> <%= link_to "Delete", property, method: :delete, data: { confirm: "Delete this property?" }, class: "btn btn-danger btn-xs" %></p>
<% end %>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>
<% end %>
