<ul class="nav nav-tabs">
	<li <% if active == "Properties" %> class="active"<% end %> ><%= link_to "Properties", user_path(@user) %></li>
	<% if @user.outfitter? %>
	  <li <% if active == "Outfitter" %> class="active"<% end %> ><%= link_to "Outfitter", user_outfitter_pages_path(@user) %></li>
	<% end %>
	<% if is_owner? @user %>
	<li <% if active == "Trips" %> class="active"<% end %> ><%= link_to "Trips", user_trips_path(@user) %></li>
	<li <% if active == "Hosting" %> class="active"<% end %> ><%= link_to "Hosting", user_hosting_path(@user) %></li>
	<li <% if active == "Favorites" %> class="active"<% end %> ><%= link_to "Favorites", user_favorites_path(@user) %></li>
	<li <% if active == "Messages" %> class="active"<% end %> >
	<%= link_to ("Messages <span class='badge'>#{@user.unread_messages}</span>").html_safe, user_messages_path(@user) %></li>
	<% end %>
</ul>