<% content_for :head do %>
  <title>Huntivore | <%= @user.full_name %>'s Favorite Hunts</title>
  <meta name="description" content="Check out <%= @user.full_name %>'s favorite hunts on Huntivore.">
<% end %>

<div id="user-profile">
	<%= render partial: "profile_top" %>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<%= render partial: "nav", locals: { active: 'Favorites' } %>
			
			<% if @user.favorites.any? %>
				
				<div class="prop-list">
				<% @favorites.each do |f| %>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to f.property do %>
							<% if f.property.property_attachments.any? %>
								<% if f.property.primary_image %>
		            	<div class="prop"><p><%= f.property.title %></p><%= image_tag(f.property.primary_image.image_url(:thumb)) %></div>
		            <% else %>
		              <div class="prop"><p><%= f.property.title %></p><%= image_tag(f.property.property_attachments.first.image_url(:thumb)) %></div>
		            <% end %>
							<% else %>
								<div class='prop'><p><%= f.property.title %></p><%= image_tag 'https://s3-us-west-1.amazonaws.com/huntivore/images/properties/no_property_images.png' %></div>
							<% end %>
						<% end %>
					</div>
				<% end %>
				</div>
				<%= will_paginate @favorites, renderer: BootstrapPagination::Rails  %>
			<% else %>
				<h4>No favorites yet.</h4>
			<% end %>
		</div>
	</div>
</div>