<div id="user-profile">
	<%= render partial: "profile_top" %>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<%= render partial: "nav", locals: { active: 'Hosting' } %>

			<% if @hosted_trips.any? %>
			<table class="table table-striped table-hover ">
				<thead>
			    <tr>
			      <th>Property</th>
			      <th>Reservation</th>
			      <th>When</th>
			      <th>Price</th>
			      <th>Status</th>
			    </tr>
			  </thead>
			  <tbody>
				<% @hosted_trips.each do |res| %>
					<% if res.status == "Pending" %>
				  	<tr class='warning'>
				  <% elsif res.status == "Canceled" %>
				  	<tr class='danger'>
				  <% else %>
				  	<tr class='success'>
				  <% end %>
					  <td><%= link_to "#{res.property.title}", property_path(res.property) %></td>
					  <td><%= link_to "View Reservation", res %></td>
					  <td> <%= res.from %> <% if res.property.hunttype == 'Overnight' %> to <%= res.to %> <% end %></td>
					  <td> $<%= res.trip_price %></td>
						<td> <%= res.status %></td>
					</tr>
			  <% end %>
			  </tbody>
			</table> 
			<%= will_paginate @hosted_trips, renderer: BootstrapPagination::Rails %>
			<% else %>
				<h4>You aren't hosting any trips yet.</h4>
			<% end %>

    </div>
	</div>
</div>