<div id="user-profile">
	<%= render partial: "profile_top" %>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<%= render partial: "nav", locals: { active: 'Hosting' } %>

			<% @reserves == false %>
			<% if @user.properties.any? %>
				<% @user.properties.each do |property| %>
				  <% property.reservations.each do |res| %>
					  <h4><%= link_to "#{res.property.title}", property_path(res.property) %></h4>
					  <p><%= link_to "View Reservation", res %><br />
					  <strong>When:</strong> <%= res.from %> to <%= res.to %><br />
					  <strong>Price:</strong> $<%= res.trip_price %><br />
						<strong>Status:</strong> <%= res.status %></p>
						<% @reserves == true %>
				  <% end %>
					<% if @reserves == false %>
					  <p>You aren't hosting any trips yet.</p>
				  <% end %>
				<% end %>
			<% else %>
				<p>You don't have any properties listed yet.</p>
			<% end %>

    </div>
	</div>
</div>