<div id="user-profile">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<%= gravatar_for(@user) %>
			<% if is_owner? @user %>
				<div><%= link_to "Edit this image", "https://en.gravatar.com/", target: "_blank" %></div>
			<% end %>
		</div>
		<div class="col-md-8">
    <% if is_owner? @user %>
  		<%= link_to "List your property", new_property_path, class: "btn btn-success pull-right" %>
  		<%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-warning pull-right" %>
    <% end %>
			<h1><%= @user.full_name %></h1>
			<p><%= (@user.created_at).strftime("Member since %B %Y") %></p>
			<%= render partial: "social" %>
		</div>		
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h4>Properties</h4>
			<% if is_owner? @user %>
				<div class="prop-list">
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to new_property_path do %>
							<div class='prop'><p>+ List Your Property</p></div>
						<% end %>
					</div>
			<% else %>
				<div class="prop-list">
			<% end %>
			
			<% if @user.properties.any? %>
				
				<% @user.properties.each do |p| %>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to p do %>
							<% if p.property_attachments.any? %>
								<% p.property_attachments[0,1].each do |a| %>
							  	<div class="prop"><p><%= p.title %></p><%= image_tag(a.image_url(:thumb)) %></div>
							  <% end %>
							<% else %>
								<div class='prop'><p><%= p.title %></p><%= image_tag 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcReAAGzQYXCHxU__J0IiGF1Igvy4NgPbUKbNz1HZvQS0YsjUWTDbQ' %></div>
							<% end %>
						<% end %>
					</div>
				<% end %>
				</ul>
			<% else %>
				<% if !is_owner? @user %>
					<p><%= "#{@user.first_name} hasn't listed any properties yet." %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>