<div id="user-profile">
	<%= render partial: "profile_top" %>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<%= render partial: "nav", locals: { active: 'Properties' } %>

			<% if is_owner? @user %>
				<div class="prop-list">
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to new_property_path do %>
							<div class='prop'><p>+ List Your Property</p></div>
						<% end %>
					</div>
			<% else %>
				<div class="prop-list">
			<% end %>
			
			<% if @user.properties.any? %>
				
				<% @user.properties.each do |p| %>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to p do %>
							<% if p.property_attachments.any? %>
								<% p.property_attachments[0,1].each do |a| %>
							  	<div class="prop"><p><%= p.title %></p><%= image_tag(a.image_url(:thumb)) %></div>
							  <% end %>
							<% else %>
								<div class='prop'><p><%= p.title %></p><%= image_tag 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcReAAGzQYXCHxU__J0IiGF1Igvy4NgPbUKbNz1HZvQS0YsjUWTDbQ' %></div>
							<% end %>
						<% end %>
					</div>
				<% end %>
				</ul>
			<% else %>
				<% if !is_owner? @user %>
					<p><%= "#{@user.first_name} hasn't listed any properties yet." %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>