<% content_for :head do %>
  <title>Huntivore | <%= @user.full_name %>'s Huntivore Profile</title>
  <meta name="description" content="<%= @user.full_name %> is on Huntivore. Join today and start hunting!">
<% end %>

<div id="user-profile">
	<%= render partial: "profile_top" %>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<%= render partial: "nav", locals: { active: 'Properties' } %>

			<% if is_owner? @user %>
				<div class="prop-list">
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to new_property_path do %>
							<div class='prop'><p>+ List Your Property</p></div>
						<% end %>
					</div>
			<% else %>
				<div class="prop-list">
			<% end %>
			
			<% if @user.properties.any? %>
				
				<% @user.properties.each do |p| %>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<%= link_to p do %>
							<% if p.property_attachments.any? %>
							  <% if p.primary_image %>
		            	<div class="prop"><p><%= p.title %></p><%= image_tag(p.primary_image.image_url(:thumb)) %></div>
		            <% else %>
		              <div class="prop"><p><%= p.title %></p><%= image_tag(p.property_attachments.first.image_url(:thumb)) %></div>
		            <% end %>
							<% else %>
								<div class='prop'><p><%= p.title %></p><%= image_tag 'https://s3-us-west-1.amazonaws.com/huntivore/images/properties/no_property_images.png' %></div>
							<% end %>
						<% end %>
					</div>
				<% end %>
				</ul>
			<% else %>
				<% if !is_owner? @user %>
					<p><%= "#{@user.first_name} hasn't listed any properties yet." %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>