<% content_for :head do %>
  <title>Huntivore | <%= @user.full_name %>'s Trips</title>
  <meta name="description" content="Viewing <%= @user.full_name %>'s Trips.">
<% end %>

<% if is_owner? @user %>	
	<div id="user-profile">
		<%= render partial: "profile_top" %>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				
				<%= render partial: "nav", locals: { active: 'Trips' } %>

				<% if @reservations.any? %>
				<table class="table table-striped table-hover ">
					<thead>
				    <tr>
				      <th>Property</th>
				      <th>Reservation</th>
				      <th>When</th>
				      <th>Price</th>
				      <th>Status</th>
				    </tr>
				  </thead>
				  <tbody>
					<% @reservations.each do |res| %>
					  <% if res.status == "Pending" %>
					  	<tr class='warning'>
					  <% elsif res.status == "Canceled" || res.status == "Missed" %>
					  	<tr class='danger'>
					  <% elsif res.status == "Paid" %>
					  	<tr class='success'>
					  <% elsif res.status == "Completed" %>
					    <tr class="info">
					  <% end %>
						  <td><%= link_to "#{res.property.title}", property_path(res.property) %></td>
						  <td><%= link_to "View Reservation", res %></td>
						  <td> <%= res.from %> <% if res.property.hunttype == 'Overnight' %> to <%= res.to %> <% end %></td>
						  <td> $<%= res.trip_price %></td>
							<td> <%= res.status %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
				<%= will_paginate @reservations, renderer: BootstrapPagination::Rails %>
				<% else %>
					<h4>You don't have any trips planned yet.</h4>
				<% end %>

	    </div>
		</div>
	</div>
<% else %>
<h2>Permission was denied.</h2>
<% end %>