<% if params[:search] %>
  <h1>Search Results</h1>
  <p class="search-number"><%= pluralize(@properties.count, 'result') %> found</p>
<% else %>
  <h1>Current Listings</h1>
<% end %>
<div class="all-properties">
  <% @properties.each do |p| %>
    <div class="row">
      <div class="col-md-6">
        <% if p.property_attachments.any? %>
      	  <% if p.primary_image %>
            <%= link_to image_tag(p.primary_image.image_url(:thumb)), p %>
          <% else %>
            <%= link_to image_tag(p.property_attachments.first.image_url(:thumb)), p %>
          <% end %>
        <% else %>
            <%= link_to image_tag('https://s3-us-west-1.amazonaws.com/huntivore/images/properties/default_huntivore_property_image.png'), p %>
        <% end %>
        <h4><%= link_to "#{p.title}", p %></h4>
        <%= p.location %> ($<%= p.price %><% if p.hunttype == "Overnight" %>/night<% end %><% if p.per_person? %>/person<% end %>)
        <p>Accommodates: <%= p.accommodates %></p>
        <p><%= truncate(strip_tags("#{p.description}"), length: 40 ) { link_to "See more", p } %></p>
        <% p.games[0,3].each do |game| %>
          <%= link_to truncate(game.name, length: 20), game_path(game), class: "btn btn-primary btn-xs" %>
        <% end %>
      </div>
    </div> 
  <% end %>
</div>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>