		<%= form_for(@property, :html => { :multipart => true}) do |f| %>
			<% if @property.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@property.errors.count, "error") %> stopped this listing from being created:</h2>

					<ul>
					<% @property.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
<div class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<%= f.label :available, "Available to book?", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<div class="radio">
					<%= f.radio_button(:available, true) %>
					<%= label(:available, "Yes") %>
				</div>
				<div class="radio">
					<%= f.radio_button(:available, false) %>
					<%= label(:available, "No") %>
			  </div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :hunttype, "Type of Hunt", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<% if @property.hunttype == "Overnight" %>
					<%= f.select :hunttype, options_for_select(["Overnight","Day trip"]), {}, { autofocus: true, class: "form-control" } %>
				<% else %>
				  <%= f.select :hunttype, options_for_select(["Day trip","Overnight"]), {}, { autofocus: true, class: "form-control" } %>
				<% end %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :title, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :title, class: "form-control", placeholder: "Pick an exciting, descriptive title" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :description, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_area :description, class: "form-control", placeholder: "Be descriptive and detailed, but try to keep it short :)" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :game_list, "Edit Game", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :game_list, :value => edit_game(@property.games), class: "form-control", placeholder: "Enter game separated by commas" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :location, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :location, class: "form-control", placeholder: "Where is your property?" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :accommodates, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :accommodates, class: "form-control", placeholder: "How many people does your property accommodate?" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :price, "Price", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :price, class: "form-control", placeholder: "Price per night for overnight hunts, or total price for day hunts" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :per_person, "Per Person?", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<div class="radio">
					<%= f.radio_button(:per_person, true) %>
					<%= label(:per_person, "Price is per person") %>
				</div>
				<div class="radio">
					<%= f.radio_button(:per_person, false) %>
					<%= label(:per_person, "Price is NOT per person (total price)") %>
			  </div>
			</div>
		</div>

		<div class="form-group">
			<% if @property.property_attachments.any? %>
			<label class="col-md-4 control-label">Current images<br />(click image to delete)</label>
			<div class="col-md-8 prop-images">
			  <% @property.property_attachments.each do |p| %>

			    <%= link_to image_tag(p.image_url(:thumb)), p, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %>

			  <% end %>
			<% end %>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label">
				<%= f.label :image, "Images" %>
			</label>
			
			<div class="col-md-8">
				<div class="file-upload">
					<%= f.file_field :image, :multiple => true, name: "property_attachments[image][]" %>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-8 col-md-offset-4">
				<%= f.submit "Update Property", class: "btn btn-primary center-block" %>
			</div>
		</div>
		<% end %> 
	</fieldset>
</div>
