		<%= form_for(@property, :html => { :multipart => true}) do |f| %>
			<% if @property.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@property.errors.count, "error") %> stopped this listing from being created:</h2>

					<ul>
					<% @property.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
<div class="form-horizontal property">
	<fieldset>
		<div class="form-group">
			<%= f.label :hunttype, "Type of Hunt", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.select :hunttype, options_for_select(["Overnight","Day trip"]), {}, { autofocus: true, class: "form-control" } %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :title, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :title, class: "form-control", placeholder: "Pick an exciting, descriptive title" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :description, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_area :description, class: "form-control", placeholder: "Be descriptive and detailed, but not too long", rows: 10 %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :game_list, "Game", class: "col-md-4 control-label" %>
			<div class="col-md-8">
			  <% if @property.games.any?
			    games = []
			    @property.games.each do |game| 
			  	games << game.name 
			  	end %>
			  	<%= f.text_field :game_list, class: "form-control", value: games.join(", ") %>
			  <% else %>
				  <%= f.text_field :game_list, class: "form-control", placeholder: "List available game, separated by commas (e.g. elk, deer, boar)" %>
				<% end %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :phone, "Phone", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :phone, class: "form-control", placeholder: "The phone number associated with the property or hunt" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :location, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :location, class: "form-control", placeholder: "Where is your property?" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :accommodates, class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :accommodates, class: "form-control", placeholder: "How many people does your property accommodate?" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :price, "Price", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<%= f.text_field :price, class: "form-control", placeholder: "Price per night for overnight hunts, or total price for day hunts" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :per_person, "Per Person?", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<div class="radio">
					<%= f.radio_button(:per_person, true) %>
					<%= label(:per_person, "Price is per person") %>
				</div>
				<div class="radio">
					<%= f.radio_button(:per_person, false) %>
					<%= label(:per_person, "Price is NOT per person (total price)") %>
			  </div>
			</div>
		</div>

		<div class="form-group">
			<%= f.fields_for :property_attachments do |p| %>
				<label class="col-md-4 control-label">
					<%= p.label :image, "Images" %>
				</label>
			
			<div class="col-md-8">
				<div class="file-upload">
					<%= p.file_field :image, :multiple => true, name: "property_attachments[image][]" %>
				</div>
			</div>
			<% end %>
		</div>

		<div class="form-group">
			<%= f.label :available, "Available to book?", class: "col-md-4 control-label" %>
			<div class="col-md-8">
				<div class="radio">
					<%= f.radio_button(:available, true) %>
					<%= label(:available, "Yes") %>
				</div>
				<div class="radio">
					<%= f.radio_button(:available, false) %>
					<%= label(:available, "No (save as draft)") %>
			  </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-8 col-md-offset-4">
				<%= f.submit "Submit Property", class: "btn btn-primary center-block" %>
			</div>
		</div>
		<% end %> 
	</fieldset>
</div>
