<% content_for :head do %>
  <title>Huntivore | <%= @property.title %> - <%= @property.location %></title>
  <meta name="description" content="<%= @property.title %> in <%= @property.location %> is on Huntivore. Check it out and book it today.">
  <meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @property.title %> - <%= @property.location %>" />
	<meta property="og:description" content="<%= @property.title %> in <%= @property.location %> is on Huntivore. Check it out and book it today." />
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:site_name" content="Huntivore" /> 
<% end %>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">

		<div class="property"><h1>
		<% if user_signed_in? %>
		<div class="favorite">
			<% if can_fav?(current_user, @property) %>
	      <%= link_to '<i class="fa fa-star-o" title="Add to Favorites"></i>'.html_safe, favorites_path(property_id: @property.id), method: :post %>
	    <% else %>
	      <%= link_to '<i class="fa fa-star" title="Remove from Favorites"></i>'.html_safe, favorite_path(id: current_user.favorites.find_by(property_id: @property.id)), method: :delete, id: "unfavorite" %>
	    <% end %>
	  </div>
		<% end %><%= @property.title %></h1></div>

		<div class="share">
		<p class="social info">Share</p>
		<a class="social tw" href="https://twitter.com/intent/tweet?text=Check%20out%20<%= @property.title %>%20on%20@Huntivore!%20<%= request.original_url %>"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social fb" href="https://www.facebook.com/sharer/sharer.php?app_id=1546406892291301&sdk=joey&u=<%= request.original_url %>&display=popup&ref=plugin" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    </div>

		<p><%= @property.description %></p>

		<p>
			<% @property.games.each do |game| %>
				<%= link_to game.name, game_path(game), class: "btn btn-primary btn-xs" %>
			<% end %>
		</p>

		<% if @property_attachments.any? %>
		<div class="popup-gallery">
			<% @property_attachments.each do |p| %>
				<%= link_to(image_tag(p.image_url(:thumb)), p.image_url, class: "prop-image") %>
			<% end %>
		</div>
		<% else %>
			<% if is_owner? @property.user %>
				<p>You haven't uploaded any images yet. Listings with vibrant images are much more likely to be rented!</p>
			<% else %>
			  <p>No images for this property.</p>
			<% end %>
		<% end %>

		<p><strong>Type:</strong> <%= @property.hunttype %></p>
		<p><strong>Location:</strong> <%= @property.location %></p>
		<p><strong>Accommodates:</strong> <%= @property.accommodates %></p>
		<p><strong>Price:</strong> $<%= @property.price %><% if @property.hunttype == 'Overnight' %>/night <% end%> <% if @property.per_person %> (per person) <% else %> (total)<% end %></p>

		<% if is_owner? @property.user %>
			<%= link_to "Edit property", edit_property_path(@property) %>
		<% else %>
		  <div class="listed-by">
			  <p><strong>Listed by:</strong></p> 
			  <%= link_to gravatar_for(@property.user, size: 60), user_path(@property.user) %> 
			  <p><%= link_to "#{@property.user.full_name}", user_path(@property.user) %>
			  <% if user_signed_in? %>
				  <p><a class="message-link" data-toggle="modal" data-target="#myModal">Send <%= @property.user.first_name %> a Message</a></p>
				<% end %>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Ask a Question about <%= @property.title %></h4>
				      </div>
				      <div class="modal-body">

				        <%= form_for(@sent_message = SentMessage.new) do |f| %>
				          <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "I have a question about your hunt...", required: true %> 
				          <%= f.hidden_field :recipient_id, value: @property.user.id %>
				          <%= f.hidden_field :property_id, value: @property.id %>
				          <%= f.hidden_field :reply_date, value: Time.now %>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        <%= f.submit "Send Message", class: "btn btn-primary" %>
				        <% end %>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		<% end %>
  </div>

  <div class='col-md-6 col-sm-6 col-xs-12'>
    <% if user_signed_in? %>
	  	<% if @property.available %>
				<% if @property.hunttype == "Overnight" %>
					<%= render partial: "reservations/form" %>
				<% else %>
				  <%= render partial: "reservations/day_form" %>
				<% end %>
			<% else %>
			  <div class="not-available">
			    <h4>Currently not available to book.</h4>
			  </div>
			<% end %>
		<% else %>
		<div class="not-available">
	    <h4>Please <%= link_to "create a free account", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to book this hunt.</h4>
	  </div>
	  <% end %>
  </div>
<script><%= javascript_variables %></script>
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
<script>
$('.social.fb').click(function(event) {
    event.preventDefault();
    window.open($(this).attr("href"), "popupWindow", "width=650");
});
</script>