<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">

		<div class="property"><h1>
		<% if user_signed_in? %>
		<div class="favorite">
			<% if can_fav?(current_user, @property) %>
	      <%= link_to '<i class="fa fa-star-o" title="Add to Favorites"></i>'.html_safe, favorites_path(property_id: @property.id), method: :post %>
	    <% else %>
	      <%= link_to '<i class="fa fa-star" title="Remove from Favorites"></i>'.html_safe, favorite_path(id: current_user.favorites.find_by(property_id: @property.id)), method: :delete, id: "unfavorite" %>
	    <% end %>
	  </div>
		<% end %><%= @property.title %></h1></div>


		<% if @property_attachments.any? %>
		<div class="popup-gallery">
			<% @property_attachments.each do |p| %>
				<%= link_to(image_tag(p.image_url(:thumb)), p.image_url, class: "prop-image") %>
			<% end %>
		</div>
		<% else %>
			<% if is_owner? @property.user %>
				<p>You haven't uploaded any images yet. Listings with vibrant images are much more likely to be rented!</p>
			<% else %>
			  <p>No images for this property.</p>
			<% end %>
		<% end %>

		<p><%= @property.description %></p>

		<p>
			<% @property.games.each do |game| %>
				<%= link_to game.name, game_path(game), class: "btn btn-primary btn-xs" %>
			<% end %>
		</p>

		<p><strong>Type:</strong> <%= @property.hunttype %></p>
		<p><strong>Location:</strong> <%= @property.location %></p>
		<p><strong>Accommodates:</strong> <%= @property.accommodates %></p>
		<p><strong>Price:</strong> $<%= @property.price %><% if @property.hunttype == 'Overnight' %>/night <% end%> <% if @property.per_person %> (per person) <% else %> (total)<% end %></p>

		<% if is_owner? @property.user %>
			<%= link_to "Edit property", edit_property_path(@property) %> | <%= link_to "Delete property", @property, method: :delete, data: {confirm: "Are you sure you want to delete this property?"} %>
		<% else %>
		  <p><strong>Listed by:</strong> <%= link_to "#{@property.user.full_name}", user_path(@property.user) %></p>
		<% end %>
  </div>

  <div class='col-md-5 col-md-offset-1 col-sm-6 col-xs-12'>
		<% if @property.hunttype == "Overnight" %>
			<%= render partial: "reservations/form" %>
		<% else %>
		  <%= render partial: "reservations/day_form" %>
		<% end %>
  </div>
<script><%= javascript_variables %></script>