<% content_for :head do %>
  <title>Huntivore | Find and List Hunting Properties</title>
  <meta name="description" content="Easily find and list hunting properties with Huntivore, the original peer to peer marketplace for hunters.">
<% end %>

<div class="row">
	<div class="col-md-8">
		<div class="jumbotron home">
		  <h1>Find Time to Hunt</h1>
		  <p>Tired of not having time to hunt? So were we - which is why we built Huntivore. The original marketplace for finding the best hunting locations and making money listing your hunting property.</p>
		  <div class="row">
		    <div class="col-xs-4">
		      <%= link_to raw('<i class="fa fa-map-marker"></i> Hunt'), new_user_registration_path, class: "btn btn-primary btn-lg" %>
		    </div>
		    <div class="col-xs-4">
		      <%= link_to raw('<i class="fa fa-home"></i> List'), list_path, class: "btn btn-primary btn-lg" %>
		    </div>
		    <div class="col-xs-4">
		      <%= link_to raw('<i class="fa fa-usd"></i> Earn'), new_user_registration_path, class: "btn btn-primary btn-lg" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="col-md-4">
		<%= render partial: "devise/registrations/form" %>
	</div>

</div>
</div><!-- container body -->

<section class="content-home">
	<div class="container">
		<div class="row home-top">
		  <div class="col-sm-6">
		    <img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/huntivore-elk.jpg" />
		  </div>

		  <div class="col-sm-6">
			  <h3>There's not enough time to hunt.</h3>
			  <p>Finding time to hunt is almost as hard as finding a place to hunt. That's no longer the case - Huntivore is the easiest possible solution for finding and booking hunts. Have land or property you want to list? You can do that here. Looking for places to hunt? Find them here. You can finally hunt when you want to, where you want to.</p>
			  <%= link_to raw('Create Your Free Account <i class="fa fa-arrow-circle-right"></i>'), new_user_registration_path, class: 'btn btn-lg btn-primary' %>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12">
		    <h2>Are You a Huntivore?</h2>
		  </div>
		  <div class="col-sm-4">
		    <img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/Getpaid.jpg" />
		    <h3>List Your Property</h3>
		    <p>Huntivore makes it easy to make money from your properties and hunts. Just list your property and allow huntivores everywhere to easily book hunts and trips. You won't have to worry about managing a website or anything else. Just make your listing look nice.</p> 
		  </div>
		  <div class="col-sm-4">
		    <img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/Houndhunt.jpg" />
		    <h3>The Huntivore Hound</h3>
		    <p>Launched in 2012, Huntivore was originally called <strong>LodgeHound</strong>. It's been reborn as Huntivore - a place where hunting and outdoor enthusiasts everywhere can find and list hunts. If you love hunting and the outdoors, you're a Huntivore and you belong here.</p> 
		  </div>
		  <div class="col-sm-4">
		    <img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/PrivateLand.jpg" />
		    <h3>The Best Hunts</h3>
		    <p>Without the necessary technical skills or time to put the information online, many amazing properties and hunts have remained undiscovered. With Huntivore, that is no longer an issue. Now you can discover just how many excellent hunting locations are available.</p>
		  </div>
		</div>
	</div>
</section>