<% content_for :head do %>
  <title>Huntivore | <%= @game.name.titleize %> Hunts</title>
  <meta name="description" content="Looking for <%= @game.name.titleize %> hunts? Look no further! Check out all the options available through Huntivore.">
<% end %>

<h1><%= @game.name.titleize %> Hunts</h1>

<div class="all-properties">
	<% @games.each do |property| %>
	  <div class="row">
	     <div class="col-md-6">
	       <% if property.property_attachments.any? %>
	      	  <% property.property_attachments[0,1].each do |a| %>
	            <%= link_to image_tag(a.image_url(:thumb)), p %>
	          <% end %>
	      <% else %>
	          <%= link_to image_tag('https://s3-us-west-1.amazonaws.com/huntivore/images/properties/default_huntivore_property_image.png'), p %>
	      <% end %>
	      <h4><%= link_to "#{property.title}", property %></h4>
        <%= property.location %> ($<%= property.price %><% if property.hunttype == "Overnight" %>/night<% end %><% if property.per_person? %>/person<% end %>)
        <p>Accommodates: <%= property.accommodates %></p>
        <p><%= truncate("#{property.description}", length: 20 ) { link_to "See more", property } %></p>
        <% property.games.each do |game| %>
          <%= link_to game.name, game_path(game), class: "btn btn-primary btn-xs" %>
        <% end %>
	    </div>
	  </div> 
  <% end %>
</div>
<%= will_paginate @games, renderer: BootstrapPagination::Rails %>

