<div class="form-horizontal reserve">
	<fieldset>
		
	  <div class="form-group">
	  	<div class="form-group">
	  		<div class="col-sm-12 col-xs-12">
	  			<h3>Reserve this Property</h3>
	  		</div>
	  	</div>
	  	<%= form_for(@reservation) do |f| %>
	  	
	  	<div class="form-group">
		  	<div class="col-md-4 col-sm-12 col-xs-4 col-xxs-12">
		  		<div class="input-group">
		  			<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
			    	<%= f.text_field :from, class: "form-control", placeholder: "Start" %>
			    </div>
			  </div>

		  	<div class="col-md-4 col-sm-12 col-xs-4 col-xxs-12">
		  		<div class="input-group">
		  			<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
		  			<% if Rails.env.test? %>
		  				<%= f.text_field :to, class: "form-control", placeholder: "End" %>
		  			<% else %>
	  		  		<%= f.text_field :to, class: "form-control", placeholder: "End", disabled: "" %>
	  		  	<% end %>
	  		  </div>
			  </div>

			  <div class="col-md-4 col-sm-12 col-xs-4 col-xxs-12">
			  	<div class="input-group">
				  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
				  	<%= f.select(:guests, options_for_select(1..@property.accommodates), {}, { class: "form-control", id: "selectUsers"}) %>
	        </div>
        </div>
			</div>

      <div class="trip-preview">
      	<h4>Reservation Details</h4>
      	<div class="row">
	      	<div class="col-sm-5 col-xs-6">
						<p><strong>From:</strong> <span class="res_from"> </span></p>
					</div>
					<div class="col-sm-5 col-xs-6">
						<p><strong>To:</strong> <span class="res_to"> </span></p>
	        </div>
	      </div>
	      <div class="row">
					<div class="col-sm-5 col-xs-6">
						<p><strong>Nights:</strong> <span class="days"> </span></p>
	        </div>
					<div class="col-sm-5 col-xs-6">
						<p><strong>Participants:</strong> <span class="users"> </span></p>
	        </div>
	      </div>
	      <div class="row" style="border-bottom: none">
	        <div class="col-sm-5 col-xs-6">
						<p><strong>Huntivore Fee:</strong> <%= fee_percent(HUNTIVORE_FEE) %></p>
					</div>
					<div class="col-sm-5 col-xs-6">
						<p><strong>Total Price:</strong> $<span class="price"> </span></p>
					</div>
			  </div>
			</div>

			<%= f.hidden_field :property_id, value: @property.id %>

			<div class="form-group">
				<div class="col-sm-12 col-xs-12">
					<%= f.submit "Reserve this Listing", class: "btn btn-info center-block" %>
		  	</div>
		  </div>

		  <% end %>
	  </div>
	</fieldset>
</div>  	