<h3>Owner Contact Information</h3>
<p>
  <strong>Name:</strong> <%= @reservation.property.user.full_name %><br />
  <strong>Email:</strong> <%= mail_to "#{@reservation.property.user.email}" %>
</p>

<% if @reservation.status == 'Pending' %>
  <h3>Pending Payment</h3>

  <form name="_xclick" action="https://www.paypal.com/us/cgi-bin/" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="taylor@huntivore.com">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="item_name" value="<%= @reservation.property.title %>">
      <input type="hidden" name="amount" value="<%= @reservation.trip_price %>">
      <input type="hidden" name="return" value="https://protected-brook-4630.herokuapp.com/pages/success">
      <input type="hidden" name="notify_url" value="https://protected-brook-4630.herokuapp.com/payment_notifications/">
      <input type="hidden" name="invoice" value="<%= @reservation.id %>">
      <input type="submit" class="btn btn-success btn-lg" value="Make Your Payment Now">
  </form>

  <h6>This reservation is currently pending. Please pay for the reservation to confirm it.</h6>

<% elsif @reservation.status == 'Paid' %>

  <p>This reservation has been paid for! You are all set.</p>

  <% @reservation.payment_notifications.each do |respay| %>
    <% if respay.status == "Completed" %>
      <p>Complete. Paypal transaction id: <strong><%= respay.transaction_id %></strong></p>
    <% else %>
      <p>Something went wrong. Please contact support for more information.</p>
    <% end %>
  <% end %>

<% elsif @reservation.status == 'Canceled' %>
  <p>The property owner canceled this reservation.</p>
  <p><strong>Reason:</strong> <%= @reservation.cancel_reason %></p>
<% end %>