<% if can_view? %>
  <h1>Reservation Details</h1>

  <h4><%= link_to "#{@reservation.property.title}", property_path(@reservation.property) %></h4>
  <strong>Type:</strong> <%= @reservation.property.hunttype %><br />
  <% if @reservation.property.hunttype == 'Overnight' %>
    <strong>Start:</strong> <%= @reservation.from %><br />
    <strong>End:</strong> <%= @reservation.to %><br />
  <% else %>
    <strong>Date:</strong> <%= @reservation.from %><br /> 
  <% end %>
  <strong>Total Price:</strong> $<%= @reservation.trip_price %> 
    
  <% if res_maker? %>
    <%= render partial: "maker" %>
  <% elsif prop_owner? %>
    <%= render partial: "owner" %>
  <% end %>

<% else %>
  <h2>You don't have permission to view this page.</h2>
<% end %>

