<% content_for :head do %>
  <title>Huntivore | Reservation Details</title>
  <meta name="description" content="Please bookmark these reservation details for your records later. You can also access them in your account navigation.">
<% end %>

<% if can_view? %>
  <h1>Reservation Details</h1>

  <h4><%= link_to "#{@reservation.property.title}", property_path(@reservation.property) %></h4>
  <strong>Type:</strong> <%= @reservation.property.hunttype %><br />
  <% if @reservation.property.hunttype == 'Overnight' %>
    <strong>Start:</strong> <%= @reservation.from %><br />
    <strong>End:</strong> <%= @reservation.to %><br />
  <% else %>
    <strong>Date:</strong> <%= @reservation.from %><br /> 
  <% end %>
  <strong>Participants:</strong> <%= @reservation.guests %><br />
  <strong>Huntivore Fee:</strong> <%= fee_percent(HUNTIVORE_FEE) %><br /> 
  <strong>Total Price:</strong> $<%= @reservation.trip_price.to_i %> 
    
  <% if res_maker? %>
    <%= render partial: "maker" %>
  <% elsif prop_owner? %>
    <%= render partial: "owner" %>
  <% end %>

<% else %>
  <h2>You don't have permission to view this page.</h2>
<% end %>

