<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey <%= @user.first_name %>,</h3>
    <p>
      Your listing, <strong><%= @property.title %></strong>, was just booked!
    </p>

    <p>
      To see the details, please visit <%= link_to "the reservation confirmation here", "http://www.huntivore.com#{reservation_path(@reservation)}" %>.
    </p>
    <h3>User Contact information:</h3>
      <p><strong>Name:</strong> <%= @resmaker.full_name %><br />
        <strong>Email:</strong> <%= @resmaker.email %><br />
      </p>

    <h3>Hunt Details</h3>
      <p><% if @reservation.property.hunttype == 'Overnight' %>
            <strong>Start:</strong> <%= @reservation.from %><br />
            <strong>End:</strong> <%= @reservation.to %><br />
          <% else %>
            <strong>Date:</strong> <%= @reservation.from %><br /> 
          <% end %>
      </p>

    <h3>Your Earnings</h3>

    <p>After the trip is completed, you'll earn <strong>$<%= @reservation.owner_earnings %></strong></p>.

    <p>Have a great day!</p>

    <p>
      Thanks,

      <h3>The Huntivore Team</h3>
  </body>
</html>