<h3>Hey <%= @recipient.first_name %>,</h3>

<p><%= @sender.full_name %> just sent you a message
<% if @property %>
regarding <%= @property.title %>.
<% elsif @outfitter %>
regarding <%= @outfitter.name %>.
<% else %>
on <%= Huntivore %>.
<% end %> Here's the message:</p>

<p>"<%= @message %>"</p>

<p><strong><%= link_to "Go here to reply to this message in your account >>", sent_message_path(@sent_message.id) %></strong></p> 

<p>(Please don't reply to this mail, it was sent by HuntBot. He never checks his email).</p>

<p>
  Thanks,
</p>  

  <h3>The Huntivore Team</h3>

