<!DOCTYPE html>
<html>
<head>
  <title>Huntivore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/pepper-grinder/jquery-ui.css", "application" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=550, initial-scale = 0.6, maximum-scale = 1.0" />
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Huntivore</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "View all Properties", properties_path %></li>
        <li><%= link_to "Hunts by Game", games_path %></li>
      </ul>

      <div class="navbar-form navbar-left">
        <%= form_tag(properties_path, action: 'search', :method => 'get') do %>
          <%= text_field_tag :search, params[:search], class: "form-control col-lg-8 col-md-4 col-sm-2", placeholder: "Search hunts" %>
        <% end %>
      </div>      
      
      <ul class="nav navbar-nav navbar-right">
      	<% if user_signed_in? %>
      	  <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Welcome back, <%= current_user.first_name %> <span class="caret"></span></a>
	          <ul class="dropdown-menu" aria-labelledby="download">
              <li><%= link_to 'My Profile', user_path(current_user) %></li>
              <li><%= link_to 'My Trips', user_trips_path(current_user) %></li>
              <li><%= link_to 'Hosting', user_hosting_path(current_user) %></li>
              <li><%= link_to 'Favorites', user_favorites_path(current_user) %></li>
	            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
	            <li class="divider"></li>
	            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	          </ul>
        	</li>
        	<li><%= link_to "List Your Property", new_property_path %></li>
        <% else %>
	        <li><%= link_to "Create Account", new_user_registration_path %></li>
	        <li><%= link_to "Log In", new_user_session_path %></li>
	      <% end %>
      </ul>

    </div>
  </div>
</div>

<div class="container">
	<% if notice %>
    <div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert">×</button><%= notice %></div>
  <% end %>
	<% if alert %>
    <div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><%= alert %></div>
  <% end %>
	<%= yield %>
</div>

</body>
</html>
